@(form: Form[controllers.driver.Login.LoginValidator])

@import views.html.utils._

@main {
    @helper.form(controllers.driver.routes.Login.authenticate(), 'class -> "form-horizontal") {
        <fieldset>
        <legend>Panel kierowcy</legend>

        @text( form("login"), label = "Login", placeholder = "Login")
        @password( form("password"), label = "Hasło", placeholder = "Hasło")

            <div class="form-group">
                <div class="col-md-4"></div>
                <div class="col-md-4 help-block">Przykładowe dane<br />login: <i>marek</i><br />hasło: <i>zaqwsx</i></div>
            </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-4"><button type="submit" class="btn btn-primary">Logowanie</button></div>
        </div>
        </fieldset>
    }
}