@(t: models.Track)

@main {
    <legend>Trasa nr @t.id</legend>

    @if(!t.packages.isEmpty()) {
        <legend>Paczki</legend>
            @for(p <- t.packages) {
                <table class="table table-striped table-bordered">
                    <tr><th colspan="2">Paczka numer @p.id</th></tr>
                    <tr><td class="col-md-2 bold">Nazwa</td> <td class="col-md-8">@p.name</td> </tr>
                    <tr><td class="col-md-2 bold">Odbiorca</td> <td class="col-md-8">@p.recipient.name @p.recipient.surname</td> </tr>
                    <tr><td class="col-md-2 bold">Firma</td> <td class="col-md-8">@p.recipient.company</td> </tr>
                    <tr><td class="col-md-2 bold">Adres</td> <td class="col-md-8">@p.recipient.street @p.recipient.streetNumber </td></tr>
                    <tr><td class="col-md-2 bold">Miasto</td> <td class="col-md-8">@p.recipient.city @p.recipient.zipcode</td></tr>
                    <tr><td class="col-md-2 bold">Number telefonu</td> <td class="col-md-8">@p.recipient.phoneNumber</td></tr>
                    <tr><td class="col-md-2 bold">Rodzaj</td> <td class="col-md-8">@p.packageType.name</td></tr>
                    <tr><td class="col-md-2 bold">Waga</td> <td class="col-md-8">@p.weight.setScale(3) kg</td></tr>
                    <tr><td class="col-md-2 bold">Status</td> <td class="col-md-8">@p.statuses.get(p.statuses.size()-1).name
                    @if(p.statuses.size() < 6) {
                        <a class="btn btn-info btn-xs" href="@controllers.driver.routes.Track.changeStatus( t.id, p.id)">@(PackageStatusName.values().apply((p.statuses.size())))</a></td></tr>
                    }
                </table>
            }
    }
}
