@(tracks: List[models.Track])

@main {
    <legend>Lista tras</legend>

    @if( !tracks.isEmpty) {
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>Id</th>
                <th>Ilość przesyłek</th>
            </tr>
            @for(t <- tracks) {
                <tr>
                    <td><a href="@controllers.driver.routes.Track.view(t.id)">@t.id</a></td>
                    <td>@t.packages.size()</td>
                </tr>
            }
        </table>
    }
}