@(field: Field, label: String = "LABEL", options: Map[Integer, String], help: String = "")

<div class="form-group">
    <label class="col-md-4 control-label">@label</label>
    <div class="col-md-4">
        <select class="form-control"
            id="@field.id"
            name="@field.name">
            <option class="blank" value="">Wybierz</option>
            @if(options != null) {
                @for((id, name) <- options ) {
                    <option id="@id" value="@id">@name</option>
                }
            }
        </select>
        @if(!help.isEmpty()) {
            <span class="help-block">@help</span>
        }
        @if(field.hasErrors) {
            <div class="text-danger">@(field.error.map { error => error.message})</div>
        }
    </div>
</div>
            