@(field: Field, label: String = "LABEL", placeholder: String = "", help: String = "")

<div class="form-group">
    <label class="col-md-4 control-label">@label</label>
    <div class="col-md-4">
        <input type="text"
            class="form-control"
            id="@field.id"
            name="@field.name"
            placeholder="@placeholder"
            value="@field.value.getOrElse("")" />
        @if(!help.isEmpty()) {
            <span class="help-block">@help</span>
        }
        @if(field.hasErrors) {
            <div class="text-danger">@(field.error.map { error => error.message})</div>
        }
    </div>
</div>
            