@import play.data.DynamicForm
@(form: DynamicForm, trackId: Int)

@import views.html.utils._

@main {
	@helper.form(controllers.admin.routes.Track.addPackage(trackId), 'class -> "form-horizontal") {
	<fieldset>
		<legend>Dodaj przesyłkę</legend>
		@select( form("selectPackage"), label = "Wybierz przesyłkę", options = null  )
		<input type="hidden" id="package_id" name="package_id"/>

		<legend>Adres</legend>
		@text( form("recipient_street"), label = "Ulica", placeholder = "Ulica")
		@text( form("recipient_streetNumber"), label = "Numer domu", placeholder = "Numer domu")
		@text( form("recipient_city"), label = "Miasto", placeholder = "Miasto")
		@text( form("recipient_zipcode"), label = "Kod pocztowy", placeholder = "Kod pocztowy")

		<div class="form-group">
			<div class="col-md-4"></div>
			<div class="col-md-4"><button type="submit" class="btn btn-primary">Utwórz</button></div>
		</div>
	</fieldset>
	}

	<script>
		var packages = null;
		$(function() {
			$.getJSON( "@controllers.utils.routes.Package.getPackages()", function( data ) {
				packages = data;

                $("[id^=recipient]").attr("disabled", "disabled");

				$.each(data, function( n, o ) {
					$('#selectPackage').append('<option id="'+n+'" name="'+n+'">'+o.name+'</option>');
				});
			});
		});

		$("#selectPackage").change( function() {
			selected = $(this).children(":selected").attr("id");
			r = packages[selected];

			if (!selected) {
				$("[id^=recipient]").val("");
                $("#recipient_id").val("");
			} else {
                $("#package_id").val(r.id);
                $("#recipient_street").val(r.recipient.street);
                $("#recipient_streetNumber").val(r.recipient.streetNumber);
                $("#recipient_city").val(r.recipient.city);
                $("#recipient_zipcode").val(r.recipient.zipcode);
			}

		});
	</script>
}