@(client: Client)

@main {
    <legend>Informacje o kliencie</legend>
    <h2>@client.name @client.surname</h2>

    <table class="table table-striped table-bordered">
        <tr><td class="col-md-2 bold">Email</td><td class="col-md-8">@client.email</td></tr>
        <tr><td class="col-md-2 bold">Ulica</td><td class="col-md-8">@client.street</td></tr>
        <tr><td class="col-md-2 bold">Numer domu</td><td class="col-md-8">@client.streetNumber</td></tr>
        <tr><td class="col-md-2 bold">Miasto</td><td class="col-md-8">@client.city</td></tr>
        <tr><td class="col-md-2 bold">Kod pocztowy</td><td class="col-md-8">@client.zipcode</td></tr>
        <tr><td class="col-md-2 bold">Firma</td><td class="col-md-8">@client.company</td></tr>
        <tr><td class="col-md-2 bold">REGON</td><td class="col-md-8">@client.regon</td></tr>
        <tr><td class="col-md-2 bold">NIP</td><td class="col-md-8">@client.nip</td></tr>
    </table>
}