@(clientList: List[models.Client])

@main {
    <legend>Lista klientów</legend>

    @if( !clientList.isEmpty) {
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>Imie i nazwisko</th>
                <th>Data rejestracji</th>
            </tr>
            @for(c <- clientList) {
                <tr>
                    <td><a href="@controllers.admin.routes.Client.view(c.id)">@c.name @c.surname</a></td>
                    <td>@c.registrationDate.format("yyyy-MM-dd HH:mm:ss")</td>
                </tr>
            }
        </table>
    }
}