@(driver: models.Driver, tracks: List[models.Track])

@main {
    <legend>Informacje o kierowcy</legend>
    <h2>@driver.name @driver.surname</h2>

    <table class="table table-striped table-bordered">
        <tr><td class="col-md-2 bold">Samochód</td><td class="col-md-8">@driver.car</td></tr>
    </table>


    @if( !tracks.isEmpty) {
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>Id</th>
                <th>Ilość przesyłek</th>
            </tr>
            @for(t <- tracks) {
                <tr>
                    <td><a href="@controllers.admin.routes.Track.view(t.id)">@t.id</a></td>
                    <td>@t.packages.size()</td>
                </tr>
            }
        </table>
    }
}