@(drivers: List[models.Driver], used: Set[Integer])

@main {
    <legend>Lista kierowców</legend>

    <a class="btn btn-primary"
    href="@controllers.admin.routes.Driver.addForm()"><span class="glyphicon glyphicon-plus"></span> Nowy kierowca</a>

    @if( !drivers.isEmpty) {
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>Imie i nazwisko</th>
                <th>Akcje</th>
            </tr>
            @for(d <- drivers) {
                <tr>
                    <td><a href="@controllers.admin.routes.Driver.view(d.id)">@d.name @d.surname</a></td>

                    <td>
                    @if(!used.contains(d.id)) {
                        <a class="btn btn-danger btn-xs"
                        href="@controllers.admin.routes.Driver.delete(d.id)"><span class="glyphicon glyphicon-minus"></span></a>
                    }
                    </td>
                </tr>
            }
        </table>
    }
}