@(form: Form[controllers.admin.Login.LoginValidator])

@import views.html.utils._

@main {
    @helper.form(controllers.admin.routes.Login.authenticate(), 'class -> "form-horizontal") {
        <fieldset>
            <legend>Panel administatora</legend>

            @text( form("login"), label = "Login", placeholder = "Login")
            @password( form("password"), label = "Hasło", placeholder = "Hasło")

            <div class="form-group">
                <div class="col-md-4"></div>
                <div class="col-md-4 help-block">Przykładowe dane<br />login: <i>admin</i><br />hasło: <i>zaqwsx</i></div>
            </div>

            <div class="form-group">
                <div class="col-md-4"></div>
                <div class="col-md-4"><button type="submit" class="btn btn-primary">Logowanie</button></div>
            </div>
        </fieldset>
    }
}