<li><a href="@controllers.admin.routes.Client.viewAll()">Klienci</a></li>
<li><a href="@controllers.admin.routes.Driver.viewAll()">Kierowcy</a></li>
<li><a href="@controllers.admin.routes.Track.viewAll()">Trasy</a></li>
<li><a href="@controllers.admin.routes.Order.viewAll()">Zamówienia</a></li>
<li><a href="@controllers.admin.routes.Invoice.viewAll()">Faktury</a></li>
<li><a href="@controllers.admin.routes.PackageType.viewAll()">Rodzaje przesyłek</a></li>