@(form: Form[models.Driver])

@import views.html.utils._

@main {
    @helper.form(controllers.admin.routes.Driver.add(), 'class -> "form-horizontal") {
        <legend>Dodaj kierowcę</legend>

        @text( form("login"), label = "Login*", placeholder = "Login")
        @password( form("password"), label = "Hasło*", placeholder = "Hasło", help = "Dłuższe niż 6 znaków")
        @text( form("name"), label = "Imie*", placeholder = "Imie")
        @text( form("surname"), label = "Nazwisko*", placeholder = "Nazwisko")

        @text( form("car"), label = "Rejestracja samochodu*", placeholder = "Rejestracja samochodu")

        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-4"><button type="submit" class="btn btn-primary">Dodaj</button></div>
        </div>
    }

}