@import play.data.DynamicForm
@(form: DynamicForm)

@import views.html.utils._

@main {
    @helper.form(controllers.admin.routes.Track.add(), 'class -> "form-horizontal") {
        <fieldset>
            <legend>Nowa trasa</legend>
            @select( form("selectDriver"), label = "Wybierz kierowcę", options = null  )
            <input type="hidden" id="driver_id" name="driver_id"/>

            <div class="form-group">
                <div class="col-md-4"></div>
                <div class="col-md-4"><button type="submit" class="btn btn-primary">Utwórz</button></div>
            </div>
        </fieldset>
    }

    <script>
		var drivers = null;
		$(function() {
			$.getJSON( "@controllers.utils.routes.Driver.getDrivers()", function( data ) {
				drivers = data;

				$.each(data, function( n, o ) {
					$('#selectDriver').append('<option id="'+n+'" name="'+n+'">'+o.name+' '+o.surname+'</option>');
			 	});
			});
		});

		$("#selectDriver").change( function() {
			selected = $(this).children(":selected").attr("id");
			r = drivers[selected];

			if (selected) $("#driver_id").val(r.id);
			else $("#driver_id").val("");

		});
	</script>
}