@(o: models.Order)

@main {
    <legend>Zamówienie nr @o.id</legend>

    <table class="table table-striped table-bordered">
        <tr><td class="col-md-2 bold">Nazwa zamówienia</td><td class="col-md-8">@o.name</td></tr>
        @if(o.notes != null && !o.notes.isEmpty()) {
            <tr><td class="col-md-2 bold">Uwagi</td><td class="col-md-8">@o.notes</td></tr>
        }
        @if(o.administrator != null) {
            <tr><td class="col-md-2 bold">Administrator</td><td class="col-md-8">@o.administrator.name @o.administrator.surname</td></tr>
        }
        <tr><td class="col-md-2 bold">Data złożenia zamówienia</td><td class="col-md-8">@o.orderDate.format("yyyy-MM-dd HH:mm:ss")</td></tr>
        <tr><td class="col-md-2 bold">Status zamówienia</td><td class="col-md-8">@o.orderStatus</td></tr>
    </table>

    <legend>Przesyłki</legend>


    @if( !o.packages.isEmpty() ) {
        <table class="table table-striped table-bordered">
            <tr>
                <th>Nazwa</th>
                <th>Odbiorca</th>
                <th>Rodzaj</th>
                <th>Cena</th>
            </tr>
            @for( p <- o.packages) {
                <tr>
                    <td>@p.name</td>
                    <td>@p.recipient.name @p.recipient.surname</td>
                    <td>@p.packageType.name</td>
                    <td>@p.calculatePrice().setScale(2) zł</td>
                </tr>
            }
            <tr>
                <td class="bold" colspan="3">Suma</td>
                <td colspan="2">@o.calculatePrice().setScale(2) zł</td>
            </tr>
        </table>
    }

    @if( o.invoiceNumber != null ) {
        <legend>Faktura</legend>

        <table class="table table-striped table-bordered">
            <tr><td class="col-md-2 bold">Numer faktury</td><td class="col-md-8">FAK@o.invoiceNumber</td></tr>
            <tr><td class="col-md-2 bold">Data wystawienia faktury</td><td class="col-md-8">@o.invoiceDate.format("yyyy-MM-dd HH:mm:ss")</td></tr>
            <tr><td class="col-md-2 bold">Kwota</td><td class="col-md-8">@o.calculatePrice().setScale(2) zł</td></tr>

        </table>
    }
}