@(orders: List[models.Order])

@main {
    <legend>Lista zamówień</legend>

    @if( !orders.isEmpty) {
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>Id</th>
                <th>Nazwa zamówienia</th>
                <th>Imie i nazwisko</th>
                <th>Data utworzenia</th>
                <th>Akcje</th>
            </tr>
            @for(o <- orders) {
                <tr>
                    <td><a href="@controllers.admin.routes.Order.view(o.id)">@o.id</a></td>
                    <td>@o.name</td>
                    <td>@o.client.name @o.client.surname</td>
                    <td>@o.orderDate.format("yyyy-MM-dd HH:mm:ss")</td>
                    <td>
                        @if( !o.packages.isEmpty() ) {
                            @if( o.orderStatus == OrderStatus.READY) {
                                <a class="btn btn-success btn-xs"
                                href="@controllers.admin.routes.Order.accept(o.id)"><span class="glyphicon glyphicon-ok"></span></a>
                            }
                        }
                    </td>
                </tr>
            }
        </table>
    }
}