@(form: Form[models.PackageType])

@import views.html.utils._

@main {
    @helper.form(controllers.admin.routes.PackageType.edit(), 'class -> "form-horizontal") {
        <fieldset>
            <legend>Informacje o rodzaju przesyłki</legend>
            @hidden( form("id"))
            @text( form("name"), label = "Nazwa*", placeholder = "Nazwa")
            @text( form("price"), label = "Cena* (*zł)", placeholder = "Cena (*zł)")
            @textarea( form("description"), label = "Opis", placeholder = "Opis")

            <div class="form-group">
                <div class="col-md-4"></div>
                <div class="col-md-4"><button type="submit" class="btn btn-primary">Zapisz</button></div>
            </div>
        </fieldset>
    }

}