@(packageTypes: List[models.PackageType], used: Set[Integer])

@main {
    <legend>Lista rodzajów przesyłek</legend>

    <a class="btn btn-primary"
    href="@controllers.admin.routes.PackageType.add()"><span class="glyphicon glyphicon-plus"></span> Nowy rodzaj</a>

    @if( !packageTypes.isEmpty) {
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>Cena</th>
                <th>Akcja</th>
            </tr>
            @for(p <- packageTypes) {
                <tr>
                    <td><a href="@controllers.admin.routes.PackageType.view(p.id)">@p.id</a></td>
                    <td>@p.name</td>
                    <td>@p.price.setScale(2) *zł</td>
                    <td>
                        @if(!used.contains(p.id)) {
                            <a class="btn btn-danger btn-xs"
                            href="@controllers.admin.routes.PackageType.delete(p.id)"><span class="glyphicon glyphicon-minus"></span></a>
                        }
                    </td>
                </tr>
            }
        </table>
    }
}