@(t: models.Track)

@main {
    <legend>Trasa nr @t.id</legend>

    Kierowca: <b>@t.driver.name @t.driver.surname</b>

    @if(!t.packages.isEmpty()) {
        <legend>Paczki</legend>
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>Nazwa</th>
                <th>Odbiorca</th>
                <th>Adres</th>
                <th>Miasto</th>
                <th>Rodzaj</th>
                <th>Akcja</th>
            </tr>
            @for(p <- t.packages) {
                <tr>
                    <td>@p.name</td>
                    <td>@p.recipient.name @p.recipient.surname</td>
                    <td>@p.recipient.street @p.recipient.streetNumber</td>
                    <td>@p.recipient.city</td>
                    <td>@p.packageType.name</td>
                    <td>

                    @if(t.trackStatus == TrackStatus.NEW) {
                        <a class="btn btn-danger btn-xs" href="@controllers.admin.routes.Track.removePackage(p.id)"><span class="glyphicon glyphicon-minus"></span></a>
                    }
                    </td>
                </tr>
            }
        </table>
    }

    @if(t.trackStatus == TrackStatus.NEW) {
        <br />
        <a class="btn btn-primary" href="@controllers.admin.routes.Track.addPackageForm(t.id)"><span class="glyphicon glyphicon-plus"></span> Dodaj paczkę</a>

        @if(!t.packages.isEmpty()) {
            <br /> <br />
            <a class="btn btn-success" href="@controllers.admin.routes.Track.accept(t.id)"><span class="glyphicon glyphicon-ok"></span>
                Zaakceptuj</a>
        }
    }

    @if(t.trackStatus == TrackStatus.NEW) {
        <br /><br />
        <a class="btn btn-danger" href="@controllers.admin.routes.Track.delete(t.id)"><span class="glyphicon glyphicon-minus"></span> Usuń</a>
    }
}
