@(tracks: List[models.Track])

@main {
    <legend>Lista tras</legend>

    <a class="btn btn-primary"
    href="@controllers.admin.routes.Track.addForm()"><span class="glyphicon glyphicon-plus"></span> Nowa trasa</a>

    @if( !tracks.isEmpty) {
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>Id</th>
                <th>Imię i nazwisko kierowcy</th>
                <th>Ilość przesyłek</th>
                <th>Akcje</th>
            </tr>
            @for(t <- tracks) {
                <tr>
                    <td><a href="@controllers.admin.routes.Track.view(t.id)">@t.id</a></td>
                    <td>@t.driver.name @t.driver.surname</td>
                    <td>@t.packages.size()</td>
                    <td>
                    @if(t.trackStatus == TrackStatus.NEW) {
                        <a class="btn btn-danger btn-xs"
                        href="@controllers.admin.routes.Track.delete(t.id)"><span class="glyphicon glyphicon-minus"></span></a>
                    }
                    </td>
                </tr>
            }
        </table>
    }
}