@(orders: List[models.Order])

@main {
    <legend>Lista faktur</legend>

    @if( !orders.isEmpty) {
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>Numer faktury</th>
                <th>Nazwa zamówienia</th>
                <th>Data wystawienia</th>
                <th>Kwota</th>
            </tr>
            @for(o <- orders) {
                <tr>
                    <td><a href="@controllers.client.routes.Invoice.view(o.id)">FAK@o.invoiceNumber</a></td>
                    <td>@o.name</td>
                    <td>@o.invoiceDate.format("yyyy-MM-dd HH:mm:ss")</td>
                    <td>@o.calculatePrice().setScale(2) zł</td>
                </tr>
            }
        </table>
    }
}