@(form: Form[controllers.client.Login.LoginValidator])

@import views.html.utils._

@main {
    @helper.form(controllers.client.routes.Login.authenticate(), 'class -> "form-horizontal") {
        <fieldset>
        <legend>Panel klienta</legend>

        @text( form("login"), label = "Login", placeholder = "Login")
        @password( form("password"), label = "Hasło", placeholder = "Hasło")

        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-4 help-block">Przykładowe dane<br />login: <i>andrzej</i><br />hasło: <i>zaqwsx</i></div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-4"><button type="submit" class="btn btn-primary">Logowanie</button></div>
        </div>
        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-4"><a class="btn btn-success" href="@controllers.client.routes.Register.registerationForm()">Rejestracja</a></div>
        </div>
        <h3></h3>
        </fieldset>
    }
}