@(form: Form[models.Client])

@import views.html.utils._

@main {
    @helper.form(controllers.client.routes.Account.update(), 'class -> "form-horizontal") {
        <fieldset>

        <legend>Zarządzaj kontem</legend>
        @hidden( form("id"))
        @hidden( form("login"))
        @hidden( form("password"))
        @hidden( form("name"))
        @hidden( form("surname"))
        @hidden( form("registrationDate"))


        @text( form("email"), label = "E-mail*", placeholder = "E-mail")

        <legend>Dane adresowe</legend>
        @text( form("street"), label = "Ulica*", placeholder = "Ulica")
        @text( form("streetNumber"), label = "Numer domu*", placeholder = "Numer domu")
        @text( form("city"), label = "Miasto*", placeholder = "Miasto")
        @text( form("zipcode"), label = "Kod pocztowy*", placeholder = "Kod pocztowy")
        @text( form("phoneNumber"), label = "Numer telefonu*", placeholder = "Numer telefonu")

        <legend>Dane firmy</legend>
        @text(form("company"), label = "Nazwa firmy", placeholder = "Nazwa firmy")
        @text(form("regon"), label = "REGON", placeholder = "REGON")
        @text(form("nip"), label = "NIP", placeholder = "NIP")

        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-4"><button type="submit" class="btn btn-primary">Aktualizuj</button></div>
        </div>
        </fieldset>
    }
}