<li><a href="@controllers.client.routes.Order.viewAll()">Zamówienia</a></li>
<li><a href="@controllers.client.routes.Invoice.viewAll()">Faktury</a></li>
<li><a href="@controllers.client.routes.Package.viewAll()">Przesyłki</a></li>
<li><a href="@controllers.client.routes.Account.manage()">Zarządzaj kontem</a></li>