@import views.html.helper.repeat
@(form: Form[models.Order])

@import views.html.utils._

@main {
    @helper.form(controllers.client.routes.Order.add(), 'class -> "form-horizontal") {
        <fieldset>

            <legend>Nowe zamówienie</legend>
            @text( form("name"), label = "Nazwa zamówienia*", placeholder = "Nazwa zamówienia")
            @textarea( form("notes"), label = "Uwagi", placeholder = "Uwagi")

            <div class="form-group">
                <div class="col-md-4"></div>
                <div class="col-md-4"><button type="submit" class="btn btn-primary">Utwórz</button></div>
            </div>
        </fieldset>
    }
}