@import play.data.DynamicForm
@(form: DynamicForm, packageTypes: Map[Integer, String], orderId: Int)

@import views.html.utils._

@main {
	@helper.form(controllers.client.routes.Package.add(orderId), 'class -> "form-horizontal") {
		<fieldset>

		<legend>Nowa przesyłka</legend>
		@text( form("name"), label = "Nazwa przesyłki*", placeholder = "Nazwa przesyłki")
		@text( form("weight"), label = "Waga* (kg)", placeholder = "Waga (kg)")
		@select( form("packageType.id"), label = "Rodzaj przesyłki", options = packageTypes)


		<legend>Dane odbiorcy</legend>
		@select( form("selectRecipient"), label = "Wybierz odbiorcę", options = null  )
        <input type="hidden" id="recipient_id" name="recipient_id"/>

        @text( form("recipient_name"), label = "Imie*", placeholder = "Imie")
        @text( form("recipient_surname"), label = "Nazwisko*", placeholder = "Nazwisko")
        @text( form("recipient_company"), label = "Firma", placeholder = "Firma")

		<legend>Adres odbiorcy</legend>
        @text( form("recipient_street"), label = "Ulica*", placeholder = "Ulica")
        @text( form("recipient_streetNumber"), label = "Numer domu*", placeholder = "Numer domu")
        @text( form("recipient_city"), label = "Miasto*", placeholder = "Miasto")
        @text( form("recipient_zipcode"), label = "Kod pocztowy*", placeholder = "Kod pocztowy")
        @text( form("recipient_phoneNumber"), label = "Numer telefonu*", placeholder = "Number telefonu")

		<div class="form-group">
			<div class="col-md-4"></div>
			<div class="col-md-4"><button type="submit" class="btn btn-primary">Dodaj</button></div>
		</div>
		</fieldset>
	}

	<script>
		var recipients = null;
		$(function() {
		    $("#selectRecipient").children("option").html("Wprowadź dane");
			$.getJSON( "@controllers.utils.routes.Recipient.getRecipiens()", function( data ) {
				recipients = data;

				$.each(data, function( n, o ) {
					$('#selectRecipient').append('<option id="'+n+'" name="'+n+'">'+o.name+' '+o.surname+'</option>');
			 	});
			});
		});

		$("#selectRecipient").change( function() {
			selected = $(this).children(":selected").attr("id");
			r = recipients[selected];

			if (!selected) {
				$("[id^=recipient]").val("");
				$("[id^=recipient]").removeAttr("disabled");
                $("#recipient_id").val("");
			} else {
                $("[id^=recipient]").attr("disabled", "disabled");
                $("#recipient_id").removeAttr("disabled");
                $("#recipient_id").val(r.id);
                $("#recipient_name").val(r.name);
                $("#recipient_surname").val(r.surname);
                $("#recipient_company").val(r.company);
                $("#recipient_street").val(r.street);
                $("#recipient_streetNumber").val(r.streetNumber);
                $("#recipient_city").val(r.city);
                $("#recipient_zipcode").val(r.zipcode);
                $("#recipient_phoneNumber").val(r.phoneNumber);
			}
		});
	</script>
}