@(orders: List[models.Order])

@main {
    <legend>Lista zamówień</legend>

    <a class="btn btn-primary"
    href="@controllers.client.routes.Order.addForm()"><span class="glyphicon glyphicon-plus"></span> Nowe zamówienie</a>

    @if( !orders.isEmpty ) {
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>Nazwa</th>
                <th>Data zamówienia</th>
                <th>Status</th>
                <th>Akcja</th>
            </tr>
            @for(o <- orders) {
                <tr>
                    <td><a href="@controllers.client.routes.Order.view(o.id)">@o.name</a></td>
                    <td>@o.orderDate.format("yyyy-MM-dd HH:mm:ss")</td>
                    <td>@(if(o.orderStatus != null) o.orderStatus)</td>
                    <td>
                    @if(o.orderStatus == OrderStatus.NEW) {
                        <a class="btn btn-danger btn-xs"
                        href="@controllers.client.routes.Order.delete(o.id)"><span class="glyphicon glyphicon-minus"></span></a>
                    }
                    </td>
                </tr>
            }
        </table>
    }
}