@(o: models.Order)

@main {
    <legend>Zamówienie nr @o.id</legend>

    <table class="table table-striped table-bordered">
        <tr><td class="col-md-2 bold">Nazwa zamówienia</td><td class="col-md-8">@o.name</td></tr>
        @if(o.notes != null && !o.notes.isEmpty()) {
            <tr><td class="col-md-2 bold">Uwagi</td><td class="col-md-8">@o.notes</td></tr>
        }
        @if(o.administrator != null) {
            <tr><td class="col-md-2 bold">Administrator</td><td class="col-md-8">@o.administrator.name @o.administrator.surname</td></tr>
        }
        <tr><td class="col-md-2 bold">Data złożenia zamówienia</td><td class="col-md-8">@o.orderDate.format("yyyy-MM-dd HH:mm:ss")</td></tr>
        <tr><td class="col-md-2 bold">Status zamówienia</td><td class="col-md-8">@o.orderStatus</td></tr>
    </table>

    @if( o.orderStatus == OrderStatus.NEW) {
        <a class="btn btn-danger"
        href="@controllers.client.routes.Order.delete(o.id)"><span class="glyphicon glyphicon-minus"></span> Usuń zamówienie</a>
    }

    <legend>Przesyłki</legend>


    @if( !o.packages.isEmpty() ) {
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>Nazwa</th>
                <th>Odbiorca</th>
                <th>Rodzaj</th>
                <th>Cena</th>
                <th>Akcja</th>
            </tr>
            @for( p <- o.packages) {
                <tr>
                    <td><a href="@controllers.client.routes.Package.view(p.id)">@p.name</a></td>
                    <td>@p.recipient.name @p.recipient.surname</td>
                    <td>@p.packageType.name</td>
                    <td>@p.calculatePrice().setScale(2) zł</td>
                    <td>
                    @if( o.orderStatus == OrderStatus.NEW) {
                        <a class="btn btn-danger btn-xs"
                        href="@controllers.client.routes.Package.delete(p.id)"><span class="glyphicon glyphicon-minus"></span></a>
                    }
                    </td>
                </tr>
            }
            <tr>
                <td class="bold" colspan="3">Suma</a></td>
                <td colspan="2">@o.calculatePrice().setScale(2) zł</td>
            </tr>
        </table>
    }

    @if( o.orderStatus == OrderStatus.NEW) {
        <a class="btn btn-primary" href="@controllers.client.routes.Package.addForm(o.id)"><span class="glyphicon glyphicon-plus"></span> Dodaj</a>
    }

    @if( !o.packages.isEmpty() ) {
        @if( o.orderStatus == OrderStatus.NEW) {
            <legend></legend>
            <a class="btn btn-success"
            href="@controllers.client.routes.Order.accept(o.id)"><span class="glyphicon glyphicon-ok"></span> Zaakceptuj</a>
        }
        @if( o.orderStatus != OrderStatus.NEW && o.invoiceNumber == null ) {
            <a class="btn btn-info"
            href="@controllers.client.routes.Invoice.issue(o.id)"><span class="glyphicon glyphicon-print"></span> Wystaw fakturę</a>
        }
    }

    @if( o.invoiceNumber != null ) {
        <legend>Faktura</legend>

        <table class="table table-striped table-bordered">
            <tr><td class="col-md-2 bold">Numer faktury</td><td class="col-md-8">FAK@o.invoiceNumber</td></tr>
            <tr><td class="col-md-2 bold">Data wystawienia faktury</td><td class="col-md-8">@o.invoiceDate.format("yyyy-MM-dd HH:mm:ss")</td></tr>
            <tr><td class="col-md-2 bold">Kwota</td><td class="col-md-8">@o.calculatePrice().setScale(2) zł</td></tr>

        </table>
    }
}