@(packages: List[models.Package])

@main {
    <legend>Lista przesyłek</legend>

    @if( !packages.isEmpty) {
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>Nazwa</th>
                <th>Odbiorca</th>
                <th>Ostatni status</th>
            </tr>
            @for(p <- packages) {
                <tr>
                    <td><a href="@controllers.client.routes.Package.view(p.id)">@p.name</a></td>
                    <td>@p.recipient.name @p.recipient.surname</td>
                    <td>@(if(!p.statuses.isEmpty) p.statuses.last.name)</td>
                </tr>
            }
        </table>
    }
}