@import java.text.NumberFormat
@import java.util.Locale
@(p: models.Package)

@main {
    <legend>Przesyłka nr @p.id</legend>

    <table class="table table-striped table-bordered">
        <tr><td class="col-md-2 bold">Nazwa przesyłki</td><td class="col-md-8">@p.name</td></tr>
        <tr><td class="col-md-2 bold">Waga</td><td class="col-md-8">@p.weight.setScale(3) kg</td></tr>
        <tr><td class="col-md-2 bold">Rodzaj</td><td class="col-md-8">@p.packageType.name</td></tr>
        <tr><td class="col-md-2 bold">Cena</td><td class="col-md-8">@p.calculatePrice() zł</td></tr>
    </table>

    @if( !p.statuses.isEmpty ) {
        <legend>Stan przesyłki</legend>
        <table class="table table-striped table-bordered">
            <tr>
                <th>Numer</th>
                <th>Data aktualizacji</th>
                <th>Stan</th>
            </tr>
            @for( (s, i) <- p.statuses.zipWithIndex) {
                <tr>
                    <td>@(i+1)</td>
                    <td>@s.date.format("yyyy-MM-dd HH:mm:ss")</td>
                    <td>@s.name</td>
                </tr>
            }
        </table>
    }

    <legend>Dane odbiorcy</legend>

    <table class="table table-striped table-bordered">
        <tr><td class="col-md-2 bold">Imie</td><td class="col-md-8">@p.recipient.name</td></tr>
        <tr><td class="col-md-2 bold">Nazwisko</td><td class="col-md-8">@p.recipient.surname</td></tr>
        <tr><td class="col-md-2 bold">Firma</td><td class="col-md-8">@p.recipient.company</td></tr>
        <tr><td class="col-md-2 bold">Ulica</td><td class="col-md-8">@p.recipient.street</td></tr>
        <tr><td class="col-md-2 bold">Numer domu</td><td class="col-md-8">@p.recipient.streetNumber</td></tr>
        <tr><td class="col-md-2 bold">Miasto</td><td class="col-md-8">@p.recipient.city</td></tr>
        <tr><td class="col-md-2 bold">Kod pocztowy</td><td class="col-md-8">@p.recipient.zipcode</td></tr>
        <tr><td class="col-md-2 bold">Numer telefonu</td><td class="col-md-8">@p.recipient.phoneNumber</td></tr>
    </table>
}