@(form: Form[models.Client])

@import views.html.utils._

@main {
    @helper.form(controllers.client.routes.Register.register(), 'class -> "form-horizontal") {
        <fieldset>

        <legend>Rejestracja użytkownika</legend>
        @text( form("login"), label = "Login*", placeholder = "Login")
        @password( form("password"), label = "Hasło*", placeholder = "Hasło", help = "Dłuższe niż 6 znaków")
        @text( form("name"), label = "Imie*", placeholder = "Imie")
        @text( form("surname"), label = "Nazwisko*", placeholder = "Nazwisko")
        @text( form("email"), label = "E-mail*", placeholder = "E-mail")

        <legend>Dane adresowe</legend>
        @text( form("street"), label = "Ulica*", placeholder = "Ulica")
        @text( form("streetNumber"), label = "Numer domu*", placeholder = "Numer domu")
        @text( form("city"), label = "Miasto*", placeholder = "Miasto")
        @text( form("zipcode"), label = "Kod pocztowy*", placeholder = "Kod pocztowy")
        @text( form("phoneNumber"), label = "Numer telefonu*", placeholder = "Numer telefonu")

        <legend>Dane firmy</legend>
        @text(form("company"), label = "Nazwa firmy", placeholder = "Nazwa firmy")
        @text(form("regon"), label = "REGON", placeholder = "REGON")
        @text(form("nip"), label = "NIP", placeholder = "NIP")

        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-4"><button type="submit" class="btn btn-primary">Rejestracja</button></div>
        </div>
        </fieldset>
    }
}