@import scala.math.BigDecimal.RoundingMode
@(o: models.Order)

@print {
    @if( o.invoiceNumber != null ) {
        <div class="pull-right">
            <p>Faktura nr FAK@o.invoiceNumber</p>
            <p>Data wystawienia faktury: @o.invoiceDate</p>
            <p>Data sprzedaży: @o.orderDate</p>
        </div>
        <legend>Sprzedawca</legend>
        <p><b>Firma transportowa</b></p>
        <p>Stanisław Piotrowski</p>
        <p>Adres: 35-084 Rzeszów ul. Podkarpacka 12</p>
        <p>NIP: 526-05-05-575</p>
        <p>Telefon: 667 490 736</p>
        <p>Email: kontakt@@projekt.noip.me</p>
        <p>Strona: projekt.noip.me</p>

        <legend>Nabywca</legend>
        <p>@o.client.name @o.client.surname</p>
        <p>@o.client.zipcode @o.client.city @o.client.street @o.client.streetNumber</p>
        @if(o.client.nip != null) {
            <p>NIP: @o.client.nip</p>
        }
        @if(o.client.regon != null) {
            <p>REGON: @o.client.regon</p>
        }
        <p>Telefon: @o.client.phoneNumber</p>
        <p>Email: @o.client.email</p>

        <table class="table table-striped table-bordered">
            <tr>
                <td><div class="text-center bold">Faktura VAT 3/09</div>
                <div class="pull-right">oryginał</div></td>
            </tr>
        </table>
        <table class="table table-bordered table-striped">
            <tr>
                <th>Lp.</th>
                <th>Nazwa</th>
                <th>Ilość</th>
                <th>Cena</th>
                <th>Cena bez podatku</th>
                <th>Stawka VAT</th>
            </tr>

            @for( (p, i) <- o.packages.zipWithIndex) {
                <tr>
                    <td>@(i+1)</td>
                    <td>@p.name</td>
                    <td>1</td>
                    <td>@p.calculatePrice().setScale(2, RoundingMode.HALF_EVEN) zł</td>
                    <td>@p.calculatePriceWithoutTax().setScale(2, RoundingMode.HALF_EVEN) zł</td>
                    <td>23%</td>
                </tr>
            }
            <tr>
                <td colspan="3">Suma</td>
                <td>@o.calculatePrice().setScale(2) zł</td>
                <td>@o.calculatePriceWithoutTax().setScale(2) zł</td>
            </tr>
        </table>

        <table class="table table-bordered table-striped">
            <tr>
                <th>Należność ogółem:</th>
                <th>@o.calculatePrice().setScale(2, RoundingMode.HALF_EVEN) zł</th>
            </tr>
        </table>
        <p>Sposób zapłaty: gotówka</p>


        <div class="pull-right">
            <u><h3 class="text-center">Stanisław Piotrowski</h3></u>
            <p class="text-center">podpis osoby upoważnionej do wystawienia faktury VAT</p>
        </div>
    }
}