<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@routes.Application.index()"><i class="glyphicon glyphicon-road"></i> Firma transportowa</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            @(if( session.get("who") == "client") client.navbar())
            @(if( session.get("who") == "admin") admin.navbar())
            @(if( session.get("who") == "driver") driver.navbar())
            </ul>
            <ul class="nav navbar-nav navbar-right">
            @if( session.get("who") != null ) {
                <li><p class="navbar-text">Witaj @session.get("login")</p></li>
                <li><a href="@controllers.client.routes.Login.logout()">Wyloguj</a></li>
            } else {
                <li><a href="@controllers.admin.routes.Dashboard.index()">Administrator</a></li>
                <li><a href="@controllers.driver.routes.Dashboard.index()">Kierowca</a></li>
                <li><a href="@controllers.client.routes.Dashboard.index()">Klient</a></li>
            }
            </ul>
        </div>
    </div>
</nav>